@import '../../scss/variables';
@import '../../scss/base';

.custom-button {
  cursor: pointer;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  color: $white;
  padding: 0.5rem 1rem;
  background-color: $fushia;
  font-family: $font-primary;

  &:hover {
    filter: brightness(120%);
  }

  &.sign-in-with-Google {
    border-radius: 0;
    background-color: #4285f4;
    padding: 10px 30px;
    font-weight: 700;
  }
}
