$barely_green: #e8f8ee;
$medium_mint: #8ce1a8;
$fushia: #a13d63;
$gold: #cec328;
$dark_grey: #707070;
$lt_pink: #ecb4c9;
$white: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $barely_green;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
