@import '../../styles/style.scss';

.Header {
  width: 100%;
  font-weight: 600;

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .cart-order {
      display: flex;
      justify-content: space-between;
    }
  }

  svg {
    height: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    color: $fushia;

    &:hover {
      filter: brightness(120%);
    }
  }

  nav {
    background-color: $medium-mint;
    border-top: 1px solid $fushia;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    //Hide in Desktop view
    div {
      display: none;
    }

    a {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 100%;
      text-decoration: none;
      color: $fushia;
      margin: 0 3rem;
    }
  }
}

//  Media Queries for smaller devices
@media screen and (max-width: 650px) {
  .Header {
    .top-nav {
      padding: 0.5rem;
      display: flex;
      background-color: $medium-mint;
      border-bottom: 5px solid $fushia;

      .logo {
        display: none;
      }

      button {
        display: none;
      }
    }

    svg {
      margin: 0 0.5rem;
    }

    nav {
      background-color: $white;
      border-top: 2px solid $gold;
      display: flex;

      div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
      }
      // Hide all links
      a {
        display: none;
      }
    }
  }
}
