@import '../../styles/style.scss';

.Header {
  border: 2px solid blue;

  .top-nav {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .cart-order {
      border: 2px solid green;
      width: 15%;
      display: flex;
      justify-content: space-between;
    }
  }
  svg {
    height: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    color: $fushia;
  }

  nav {
    background-color: $medium-mint;
  }
}
