@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

$barely_green: #e8f8ee;
$medium_mint: #8ce1a8;
$fushia: #a13d63;
$gold: #cec328;
$dark_grey: #707070;
$lt_pink: #ecb4c9;
$white: #ffffff;
$font-primary: 'Quicksand', sans-serif;
$font-secondary: 'Playfair Display', serif;
